Ch3/UK.txt
Ch3/__pycache__/
Ch3/jawiki-country.json
Ch4/.ipynb_checkpoints/
Ch4/CodeTest.ipynb
Ch4/__pycache__/
Ch4/neko.txt
Ch4/neko.txt.mecab
Ch4/neko.txt.mecab.bak
Ch5/__pycache__/
Ch5/neko.txt.cabocha
Ch5/neko.txt.cabocha.bak
Ch5/qr_26843v8C.py
